<br />

<div class="new-skill-field-row-<%= skill_form_row_number %>">
  <div class="form-group">
	  <label>Category</label>
    <%= select_tag("bio_pic_pages[user_skills][#{skill_form_row_number}][category_id]", options_from_collection_for_select(Category.all, :id, :name))%>
  </div>
  
  <div class="form-group">
    <label>Skill</label>
    <%= text_field_tag "bio_pic_pages[user_skills][#{skill_form_row_number}][name]", params[:search], class: "form-control search-query", placeholder: "skill name", type: "search", data: {autocomplete: skills_autocomplete_skill_name_path(:category_id => Category.first.id)} %>
  </div>
  <script type="text/javascript">
    $('#bio_pic_pages_user_skills_<%= skill_form_row_number %>_name').bind('railsAutocomplete.select', function(event, data){
    });
  </script>
  <div class="form-group">
	  <%= radio_button_tag("bio_pic_pages[user_skills][#{skill_form_row_number}][mastered]", true, false, {:class => "radio-inline"}) %>
    <%= label_tag(:mastered, "Mastered") %>
    <%= radio_button_tag("bio_pic_pages[user_skills][#{skill_form_row_number}][mastered]", false, true, {:class => "radio-inline"}) %>
    <%= label_tag(:learning, "Learning") %>
  </div>

  <!-- <div class="form-group">
    
    <%#= select_tag("bio_pic_pages[user_skills][#{skill_form_row_number}][project_id]", options_from_collection_for_select(Project.all, :id, :name), class: "form-control skills-section-projects-dropdown") %>
  </div>

  <div class="form-group">
    <%#= text_field_tag("bio_pic_pages[user_skills][#{skill_form_row_number}][description]", '', :class => "form-control") %>
  </div> -->

	<%= link_to "Remove", "#", :onclick => '$(this).parent().remove();', :remote => true %>
</div>  
