<div class="container">
	<%= flash[:message] %>
	<%= flash[:errors] %>
  <h4 style = "text-align: center; color:black; font-size: 48px;">Edit User Information</h4>
  
  <%= form_for @user, :url => update_bio_pic_page_path ,:html => {:class => "form-horizontal skill_form"} do |f| %>
    
    <div class="form-group">
      <div class="col-lg-4">
        <label>Educational Qualification</label>
        <%= f.text_field :education_qualification, :class => "form-control" %>
      </div>
    	<div class="col-lg-2">
    	</div>
      <div class="col-lg-4">
        <label>Designation</label>
        <%= f.text_field :designation, :class => "form-control" %>
      </div>
    </div>
    <hr>

    <h4>Skills </h4>
	   
	    <div class="skill-container">
    	<%= f.fields_for :skills do |builder| %>
	    <%= render 'skill_fields', :f => builder %>
	    <% end %>	
	    <%= link_to_add_fields "Add", f, :skills %>
	  </div>
    <hr>

    <h4>Add your project</h4>
    <% if @projects.present? %>
    <div class="form-group col-lg-2">
    	<%= f.fields_for :projects, @projects do |builder| %>
		    <%= builder.select(:id, options_from_collection_for_select(@projects, :id, :name), :html => {multiple: true, include_blank: true, class: "form-control"}) %>
		  <% end %>
		<% end %>
    <%= link_to "Add new project", "#", :id => "new_project_pane" %>
    </div>
    

<div id="myModal" class="modal fade" style="display:none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add New Project</h4>
        <button type="button" class="close">&times;</button>
    </div>
    <div class="modal-body">
      <%= form_for :project, :url => new_project_path ,:html => {:class => "form-horizontal skill_form"} do |f| %>
      <%= f.label "Name"%>
      <%= f.text_field :name, :class => "form-control" %>
      <%= f.label "Description" %>
     <%= f.text_field :description, :class => "form-control" %>
     <%= f.label "Client" %>
     <%= f.text_field :client, :class => "form-control" %>
     <%= f.label "Date started" %>
     <%= f.text_field :date_started %><br/>
     <%= f.submit "Add Project" %>
     <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default">Close</button>
    </div>
  </div>
  </div>
</div>
    <br/>
 
 
  <div class="col-lg-6, col-lg-offset-6 ">
	  <%= f.submit "Save Changes", :class => "btn btn-primary" %>
  </div>

  <% end %>
</div>