<div class="container">
  <h4><%= @skill.name.titleize %></h4>
  <div><%= @skill.description %></div>
  

  <hr>
  <div class="row">
    <% ["mastered", "learning"].each do |learning_level| %>
      <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span><%= learning_level == "mastered" ? "Masters" : "Learners" %></span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <% instance_variable_set("@#{learning_level}_users", @skill.user_with_skill_learning_level(learning_level))%> 
            <% if instance_variable_get("@#{learning_level}_users").present? %>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Designation</th>
                  </tr>
                </thead>
                  <% for user in instance_variable_get("@#{learning_level}_users") %>
                  <%# binding.pry %>
                    <% if user.present? %>
                    <tr>
                      <td><%= link_to user.name.titleize, show_bio_pic_page_path(user) %></td>
                      <td><%= user.email %></td>
                      <td><%= user.designation %></td>
                    </tr>
                    <% end %>
                 <% end %>
              </tbody>
              </table>
            <% else %>
              <p>There are no users who <%= learning_level == "mastered" ? "have mastered" : "are learning" %> this skill.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Projects using <%= @skill.name %>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <% if @skill.projects.present? %>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% for project in @skill.projects %>
                <tr>
                  <td><%= link_to project.name.capitalize, project_path(project) %></td>
                  <td><%= project.description %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>There are no projects which are using this skill</p>
        <% end %>           
      </div>
    </div>
  </div>
</div>
